@import "../../../styles/variables";


.productCard {
    display: flex;
    gap: $space-normal-mobile;
    width: 100%;

    &.dark {
        background-color: black;
    }

    .imgContainer {
        position: relative;

        img {
            object-fit: cover;
            object-position: center;
            aspect-ratio: 1;
            width: 115px;
            height: 115px;
            border-radius: $rounded1;
        }
        .plusToCart {
            position: absolute;
            left: 0;
            top: 0;
            margin: $gap-whitespace1;
        }
    
    }

    .prodInfo {
        display: flex;
        flex-direction: column;
        gap: $gap-whitespace1;

        :first-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
    }
   
}