@import "./variables";

h1 {
    font-size: 28px;
}
h2 {
    font-size: 16px;
}

p, .p {
    font-size: 16px;
    color: $gray;

    &.xs {
        font-size: 12px;
        color: $gray;
    }
    &.s {
        font-size: 14px;
        color: $black;
    }

    &.sharp {
        font-weight: 600;
        color: $black;
    }
    &.light {
        font-weight: 300;
        font-size: 14px;
    }
}

a {
    text-decoration: none;
    color: $black;
}

button {
    font-size: 1rem;
}
.btn {
   font-size: 28px;
   font-weight: 700;
}

.success {
    color: $successGreen;
}

.text-center {
    text-align: center;
}