//Colors

$orange: #F6C75A;
$white: white;
$black: black;
$gray: #8F8F8F;
$lightGray: #d3d3d3;
$lightestGray: #f2f2f2;
$successGreen: #00B628;
$primaryGreen: #40976D;
$starYellow: #FFBB56;


$spaceXs: 4px;
$space0: 8px;
$space1: 12px;
$space2: 16px;
$space3: 20px;
$space4: 24px;
$space5: 28px;
$space6: 32px;
$space7: 40px;
$space8: 48px;
$space9: 56px;
$space10: 64px;

$space-normal-mobile: $space2;
$space-sides-mobile: $space4;
$space-xl-mobile: $space9;

$shadow1: 0px 4px 30px 0px rgba(80, 89, 98, 0.10);
$shadow2: 0px 0px 15px rgba(0, 0, 0, 0.1);

$rounded0: 6px;
$rounded1: 8px;
$rounded2: 12px;
$rounded3: 16px;
$rounded4: 20px;


$gap-whitespace0: $spaceXs;
$gap-whitespace1: $space0;
$gap-whitespace2: $space2;
$gap-whitespace3: $space4;
$gap-whitespace4: $space6;

$icon-size-xs: $space2;
$icon-size-sm: $space3;
$icon-size: $space5;
$icon-size-l: $space7;