//Colors

$orange: #F6C75A;
$white: white;
$black: black;
$gray: #8F8F8F;
$successGreen: #00B628;



$space1: 8px;
$space2: 16px;
$space3: 20px;
$space4: 24px;
$space5: 28px;
$space6: 32px;
$space7: 40px;
$space8: 48px;
$space9: 56px;
$space10: 64px;

$space-normal-mobile: $space2;
$space-xl-mobile: $space9;

$shadow1: 0px 4px 30px 0px rgba(80, 89, 98, 0.10);