@import "../../../styles/variables";


.allergies {
    display: flex;
    list-style: none;
    gap: $spaceXs;

    li {
        display: grid;
        place-content: center;
        width: 24px;
        aspect-ratio: 1;
        border: 2px solid $lightGray;
        border-radius: $rounded0;
    }
}