@import "../../styles/variables";

.location {
  background-color: $orange;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  position: relative;

  .mapArea {
    flex-grow: 1;
    display: grid;
    place-items: center;
    position: relative;

    .centerBtn {
      display: grid;
      place-items: center;
      position: absolute;
      background-color: $white;
      border: 0px;
      width: 86px;
      bottom: -43px;
      font-size: $icon-size-l;
      border-radius: $rounded3;
      box-shadow: $shadow1;
      aspect-ratio: 1;
      z-index: 2;
    }
  }

  .locationInfo {
    height: 340px;
    padding-inline: $space-sides-mobile;
    background-color: $white;
    padding-block: $space-xl-mobile;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 7rem;
  }
  svg {
    transform: translateY(1px);
  }
}
