@import './styles//fonts';
@import './styles/variables';

* {
  padding: 0;
  line-height: inherit;
  margin: 0;
  box-sizing: border-box;
  font-family:
  'Montserrat',
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}
